#btns{
    height: 30px;
    width: 200px;
}
img
{
    margin-top: 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.card{
    margin-top: 60px;
    width: 40vw;
}

.contenedor {
    width: 40vw;
}
#email, #birthday, #address, #phone, #password {
    display: none;
}